{
    "include": [
        "rules/*.js",
        "src/*.js"
    ],
    "extension": [
        ".js"
    ],
    "reporter": [
        "text-summary",
        "html",
        "lcov"
    ],
    "sourceMap": true,
    "all": true
}